<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<section layout:fragment="list">
	<div class="container">

		<h2 class="text-center">Regras Tributarias</h2>

		<div id="btn-padrao" sec:authorize="hasRole('CADASTRA_TRIBUTACAO')">
			<a th:href="@{/tributacao/form}" class="btn btn-azul-padrao">Nova</a>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Descrição</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tributacao : ${tributacoes}">
					<td th:text="${tributacao.codigo}"></td>
					<td th:text="${tributacao.descricao}"></td>
					<td><a
						th:href="@{/tributacao/{codigo}(codigo=${tributacao.codigo})}"><span
							class="glyphicon glyphicon-pencil"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
</html>