
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<section layout:fragment="form">
	<div class="container">
		<div class="col-md-11">
			<div th:include="@{messagens/messageSuccess}"></div>
			<p th:if="${#fields.hasErrors('pessoa.*')}" th:errors="*{pessoa.*}">Incorrect
				date</p>

			<h2>Pessoa</h2>

			<div id="btn-padrao">
				<a th:href="@{/pessoa}" class="btn btn-azul-padrao"><span
					class="fa fa-list fa-lg"> Listar</span> </a>
			</div>
			
			<!-- USO PARA PEGAR O LINK DA PESSOA NO AJAX -->
			<a th:href="@{/pessoa}" id="link_pessoa"></a>
			
			<form th:action="@{/pessoa}" method="post" id="form_pessoa">

				<input type="hidden" th:field="*{pessoa.codigo}" />

				<div class="row">
					<div class="form-group col-md-2">
						<label for="codigo">Código</label> <input id="codigo"
							name="codigo" type="text" class="form-control"
							th:field="*{pessoa.codigo}" disabled="disabled" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label for="nome">Nome</label> <input id="nome" name="nome"
							type="text" placeholder="Nome Completo" class="form-control"
							th:field="*{pessoa.nome}" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label for="apelido">Apelido</label> <input id="apelido"
							name="apelido" type="text" placeholder="Tem apelido?"
							class="form-control" th:field="*{pessoa.apelido}" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-4">
						<label for="cpfcnpj">CPF/CNPJ</label> <input id="cpfcnpj"
							name="cpfcnpj" type="text" class="form-control"
							th:field="*{pessoa.cpfcnpj}" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-2">
						<label for="nascimento">Data Nacimento</label> <input
							id="nascimento" name="data_nascimento" type="text"
							class="form-control" th:field="*{pessoa.dataNascimento}"
							data-provide="datepicker" data-date-format="yyyy/mm/dd"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" />
					</div>
				</div>

				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#home">Observação</a></li>
					<li><a data-toggle="tab" href="#menu1">Endereço</a></li>
					<li><a data-toggle="tab" href="#menu2">Contato</a></li>
				</ul>

				<div class="tab-content">
					<!-- Cadastro observação -->
					<div id="home" class="tab-pane fade in active">
						<br />
						<textarea rows="5" cols="90" name="observacao"
							th:field="*{pessoa.observacao}">
					</textarea>
					</div>

					<!-- Cadastro endereço -->
					<div id="menu1" class="tab-pane fade">
						<br /> <input type="hidden" id="codendereco" th:field="*{endereco.codigo}" />

						<div class="row">
							<div class="form-group col-md-3">
								<label for="cidade">Cidade</label> <select id="cidade"
									name="cidade" class="form-control" th:field="*{endereco.cidade}">
									<option th:each="cidade: ${cidades}" th:text="${cidade.nome}"
										th:value="${cidade.codigo}"></option>
								</select><br />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label for="rua">Rua</label> <input type="text" id="rua"
									name="rua" placeholder="Rua" class="form-control"
									th:value="*{endereco.rua}" /><br />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label for="bairro">Bairro</label> <input type="text"
									class="form-control" id="bairro" name="bairro"
									placeholder="Bairro" th:value="*{endereco.bairro}" /><br />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-2">
								<label for="numero">Numero</label> <input type="text"
									id="numero" name="numero" class="form-control"
									placeholder="Numero" th:value="*{endereco.numero}" /><br />
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-3">
								<label for="cep">CEP</label> <input type="text" id="cep"
									name="cep" class="form-control" placeholder="CEP"
									th:value="*{endereco.cep}" /><br />
							</div>
						</div>

						<div class="form-group">
							<label for="referencia">Referência</label> <input id="referencia"
								name="referencia" class="form-control" type="text" th:field="*{endereco.referencia}"
								placeholder="Referência" />
						</div>
					</div>

					<!-- Cadastro contato -->
					<div id="menu2" class="tab-pane fade">
						<input type="hidden" id="codfone" th:field="*{telefone.codigo}" /> <br />
						<div class="row">
							<label for="fone">Telefone </label>
							<div class="form-group col-md-2">
								<input type="text" class="form-control" id="fone" name="fone"
									th:value="*{telefone.fone}" th:field="*{telefone.fone}" />
							</div>
							<div class="col-md-2">
								<select name="tipo" th:value="*{telefone.tipo}"
									th:field="*{telefone.tipo}" class="form-control">
									<option th:each="tipo : ${telefoneTipo}" th:text="${tipo}"
										th:value="${tipo}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<hr></hr>
				<input type="submit" value="Salvar" class="btn btn-azul-padrao" />
			</form>
		</div>
	</div>
</section>
</html>
