<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="row">
		<div class="margem-top">
			<div class="col-md-4 col-md-offset-8">
				<form th:action="@{/caixa}" th:object="${filterCaixa}" method="GET">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Data abertura" th:field="*{data_cadastro}"
							data-provide="datepicker" data-date-format="yyyy/mm/dd"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" name="data_cadastro" />

						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>
</html>