<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<form>
	<div class="row">
		<div class="col-md-10">
			<div class="form-group">
				<select id="codigoProduto"
					class="form-control selectpicker produtos-habilitado"
					data-live-search="true">
					<option selected="selected"></option>
					<option th:each="produto : ${produtos}"
						th:text="${'COD: ' + produto.codigo + ' - ' + produto.descricao + ' - Total Estoque: ' + produto.estoque.qtd}"
						th:value="${produto.codigo}"></option>
				</select>
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group" id="addproduto">
				<a th:href="@{/ajustes/addproduto}" class="btn btn-info form-control btn-addajuste-produto btn-azul-padrao">Inserir</a>
			</div>
		</div>
	</div>
</form>
</html>